*{
      margin: 0;
      padding: 0;
}

.main__container{
      min-height: 100vh;
}
.game__container{
      max-width: 100%;
      position: relative;
      width: 100%;
      min-height: 100vh;
}
.sky{
      background-color:aqua;
      height: 100vh;
}
.ground{
      background-color: green;
      height: 70px;
      z-index: 1;
      position: absolute;
      bottom: 0;
      width: 100%;
}
.pipe_top{
      position: absolute;
      top: 0;
      left: 180px;
      height: 150px;
      background-color: black;
}
.pipe_bottom{
      position: absolute;
      bottom: 50px;
      background-color: black;
      left: 180px;
      height: 200px;
}
.bird{
      position: absolute;
      left: 200px;
      bottom: 200px;
      background-color:yellow;
}
.obstaclebottom{
      position: absolute;
      width: 50px;
      height: 300px;
      background-color: black;
}
.obstacletop{
      position: absolute;
      width: 50px;
      height: 300px;
      background-color: black;
}