
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');
*{
      margin: 0;
      padding: 0;
      font-family: 'Roboto', sans-serif;
}
.main__container{
      width: 100%;
      min-height: 100vh;
      background-color: aliceblue;
      display: grid;
      place-items: center;
}
.container{
      max-width: 300px;
      background: url('img/layered-waves-haikei.svg');
      width: 100%;
      background-position: center;
      background-size: cover;
      border-radius: 15px;
      padding: 2rem;
      background-repeat: no-repeat;
}
.search{
 position: relative;  
 width: 100%;
 height:40px;
     
}
.search #input{
      width: calc(100% - 21px);
      height: 100%;
      border-radius: 5px;
      border: none;
      padding-left: 10px;
      font-size: 1rem;
      font-weight: 400;
      border: 1px soid black;
      color: #545454;
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.search__container {
      position: absolute;
      top: 0px;
      bottom:0px;
      margin: auto;
      right: 9px;
      display: grid;
      place-content: center;
}
.search__btn{
      width: 45px;
      text-align: center;
      background-color: #1f1f1f;
      height: 40px;
      border: none;
      border-radius:0  5px 5px 0px ;
}
.search__btn i{
      font-size: 1.3rem;
      color: white;
      font-weight: 800;
}
.result{
      max-width: 100%;
      display: grid;
      grid-template-columns: 2fr 2fr;
      gap: 5px;
      margin-top: 25px;
      
}
.left{
      display: flex;
      flex-direction: column;
      gap: 5px;
}
.left img{
      width: 100px;

}
.other__info{
      color: #b8cdf0;

      padding: .5rem;
      width: 100%;
      border-radius: 3px;
      display: flex;
      justify-content: space-between;
      text-align: center;
      margin-top: 20px;
}
.wind,.temp_max,.humidity{
      font-size: 1rem;
}
#windval,#tempval,#humval{
      font-size: .8rem;
      color: #c9c9c9;
}
#weather{
      font-size: 2.7rem;
      color: rgb(232, 232, 232);
}
#weatherdesc{
      font-size: 1.1rem;
      color: rgb(155, 195, 255);
      font-weight: 400;
}
#city{
      font-size: .8rem;
      color: rgb(209, 211, 255);
}
.right{
      justify-self: flex-end;

}
#tempreature{
      font-size: 3.5rem;
      padding-top: 15px;
      color: white;
}
@media screen  and (min-width:400px){
      .container{
            max-width: 400px;
      }
      #weather{
            font-size: 3.2rem;
            color: rgb(232, 232, 232);
      }
      #weatherdesc{
            font-size: 1.2rem;
            color: rgb(155, 195, 255);
            font-weight: 400;
      }
      #city{
            font-size: 1rem;
            color: rgb(209, 211, 255);
      }
      .right{
            justify-self: flex-end;
      
      }
      #tempreature{
            font-size: 4rem;
            padding-top: 15px;
            color: white;
      }
}