@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;800;900&display=swap');


*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}
:root{
      --background:linear-gradient(to right, #4A00E0, #8E2DE2);
      --primary-color:white;
      --primary-color-alt:rgb(232, 232, 253); 
      --accent:#b895fd;
      --font-sm:2rem;
      --font:'Poppins',sans-serif;     
      
}
body{
      background: var(--background);
      min-height: 100vh;
      display: grid;
      place-items: center;
}
.game__container{
      max-width: 600px;
      margin:auto;
      border-radius: 5px;
      background-color: var(--primary-color);
      padding: 1rem;
}
.score__board{
      margin-bottom: 2rem;
      font-family: var(--font);
}
.board__container{
      display: grid;
      grid-template-columns: 2fr 2fr 2fr 2fr 2fr 2fr;
      gap: .3rem;
}
.items{
      background-color: var(--primary-color-alt);
      padding: 1rem;
      width: 100%;
      cursor: pointer;
      border-radius: 5px;
      overflow: hidden;
      text-align: center;
}
.items h1{
      font-size: var(--font-sm);
      visibility: hidden;
      font-family: var(--font);
}

@keyframes loader{
      0%{
            rotate:  Y 45deg;
      }
      50%{
            rotate: Y 90deg;
      }
      
      100%{
            rotate: Y 0deg;
      }
}
.active{
      animation: loader .5s;
      background-color: #eee8f8;
}
.active h1{
      visibility: visible;
}
.item-remove{
      display: block;
      transition: 1s ease;
      background-color: var(--accent);
}